html {
  font-size: 1rem;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding-top: 50px;
}

.section {
  overflow: hidden;
  position: relative;
}

.bcg-parallax {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  text-align: center;
}

.bcg {
  background: url('../static/img/b1.jpeg') no-repeat;
  height: 500%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  width: 90%;
  z-index: 2;
}

p {
  text-indent: 30px;
}

.textblock {
  opacity: 0.7;
}

.shadow {
  box-shadow: 10px 10px 15px black;
}

.project {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.project.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background-color: black;
  overflow: hidden;
  position: relative;
}

.card-size {
  width: 400px;
  height: 450px;
}

.card-text-size {
  height: 500px;
}
