html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

/* //Media Queries for Device Size\\ */


/*Desktop */

@media screen and (min-width: 980px) {

}

/*Tablets*/

@media screen and (min-width: 500px) and (max-width: 979px) {

}

/*Mobile*/

@media screen and (max-width: 480px) {

    .container {
        font-size: 90%
    }
}
